data_dir  = "/var/consul/config/"
log_level = "DEBUG"

datacenter         = "{{env "DATACENTER"}}"
primary_datacenter = "{{env "PRIMARY_DATACENTER"}}"

{{if eq (env "SERVER") "true"}}
ui               = true
server           = true
bootstrap_expect = {{ env "CONSUL_SERVERS" }}

verify_incoming = false
auto_encrypt = {
  tls = true
}

retry_join_wan = ["172.20.20.11", "172.20.20.21"]
{{end}}

ca_file   = "/var/certs/fullchain.pem"
cert_file = "/var/certs/cert.pem"
key_file  = "/var/certs/privkey.pem"
verify_outgoing = true

{{if eq (env "SERVER") "false"}}
start_join = ["{{env "SERVER_IP"}}"]
{{end}}

bind_addr   = "0.0.0.0"
client_addr = "0.0.0.0"

ports {
  grpc  = 8502
  https = {{ if eq (env "CONSUL_SSL") "true" }}{{ env "CONSUL_PORT" }}{{ else }}-1{{end}}
  http  = {{ if eq (env "CONSUL_SSL") "true" }}-1{{ else }}{{ env "CONSUL_PORT" }}{{end}}
}

advertise_addr = "{{env "IP_ADDRESS"}}"

acl = {
  enabled        = true
  default_policy = "deny"
  down_policy    = "extend-cache"
}
